/* Main.css */
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between; /* Spread items across the container */
  padding-left: 50px;  /* Adjust padding */
  padding-right: 50px;  /* Adjust padding for symmetry */
}

.product-card {
  background-color: #ffffff;
  border-radius: 10px;
  width: 30%; /* Set the product card width to 30% so 3 items fit in a row */
  padding: 3px;
  text-align: left;
  height: 300px;
  display: flex;
  flex-direction: column; /* Ensure items stack vertically */
  justify-content: space-between;
}

.product-image {
  width: 100%; /* Make image width responsive */
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}



.product-name {
  font-size: 1.1em;
  margin: 10px 0;
}

.product-price {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px; /* Makes the button span the full width */
  margin-right: 10px; /* Gives space between the button and the wishlist icon */
}

.add-to-cart-btn:hover {
  background-color: #c91e12;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Space the button and wishlist icon */
  align-items: center;
  width: 100%; /* Ensure full width for button-container */
  margin-top: 10px;
}

.wishlist-icon {
  font-size: 20px;
  color: rgb(175, 166, 166);
  cursor: pointer;
  margin-left: 10px; /* Adds spacing between button and heart icon */
}

.wishlist-icon:hover {
  color: red; /* Change icon color on hover */
}
